<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sistema.My.MySettings.Conexao" connectionString="Data Source=Willy-Contato\SQLEXPRESS;Initial Catalog=cadastro;Persist Security Info=True;User ID=sa;Password=0702"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
